.header__lang-link {
  margin-left: 18px;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid red;
}

.header__lang-link:active {
  text-decoration-line: underline;
}