.header__lang-link {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid red;
}

.header__lang-link:nth-last-child(2) {
  margin-right: 47px;
}