.header__logo {
  width: 176px;
  height: 52px;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image: url(../../../images/header-logo.svg);
  /*border: 1px solid red;*/
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}