.place__title {
  max-width: 460px;
  max-height: 152px;
  grid-area: title;
  margin: 0;
  padding: 0;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  color:#FFFFFF;
  border: 1px solid red;
}