.place__title {
  max-width: 460px;
  grid-row: 1/1;
  grid-column: 1/1;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  color:#FFFFFF;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 1024px) {
  .place__title {
  max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
  max-width: calc((460 / 460) * 50vw);
  }
}

@media screen and (max-width: 768px) {
  .place__title {
  max-width: 340px;
  line-height: 46px;
  font-size: 42px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
  max-width: calc((460 / 460) * 50vw);
  }
}

@media screen and (max-width: 320px) {
  .place__title {
  max-width: 288px;
  line-height: 35px;
  font-size: 32px;
  margin: 0 16px;
  }
}