.photo-grid {
  max-height: 671px;
  max-width: 1184px;
  display: grid;
  margin: auto;
  margin-top: 92px;
  max-width: 1184px;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  /*border: 1px solid red;*/
}