.photo-grid {
  max-width: 1184px;
  display: grid;
  margin: auto;
  margin-top: 92px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-auto-flow: row;
  gap: 16px;
<<<<<<< HEAD
  padding: 16px;
=======
>>>>>>> main
  /*border: 1px solid red;*/
}