.footer__links {
  max-width: max-content;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 32px 18px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
  }
}