.place__image {
  max-width: 460px;
  min-width: 320px;
  grid-row: 2/3;
  grid-column: 1/1;
  object-fit: cover;
  border: 0;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 1024px) {
  .place__image {
  max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
  max-width: calc((460 / 460) * 50vw);
  }
}

@media screen and (max-width: 768px) {
  .place__image {
  max-width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
  max-width: calc((460 / 460) * 50vw);
  }
}

@media screen and (max-width: 600px) {
  .place__image {
  grid-row: 3/5;
  max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
  /*grid-row: 3/5;*/
  max-width: 320px;
  }
}