.place__image {
  max-width: 100%;
  grid-row: 2/4;
  grid-column: 1/1;
  object-fit: cover;
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .place__image {
  grid-row: 3/5;
  grid-column: 1/1;
  }
}