.place__image {
  max-width: 100%;
  min-width: 340px;
  max-height: 460px;
  height: auto;
  grid-area: image;
<<<<<<< HEAD
  object-fit: cover;
  border: 1px solid red;
=======
  /*border: 1px solid red;*/
>>>>>>> main
}