.intro__list {
  max-width: 690px;
  max-height: 90px;
  margin: 0;
  padding: 0;
  margin-top: 33px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color:#FFFFFF;
  border: 1px solid red;
}