.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 56px;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 1024px) {
  .lead {
  max-width: 928px;
  margin-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
  max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
  max-width: 320px;
  }
}