.header {
  max-width: 1184px;
  display: grid;
  grid-template-columns: auto repeat(2, min-content);
  grid-template-rows: 1;
  align-items: flex-end;
  margin: auto;
  border: 1px solid red;
}

@media screen and (max-width: 1300px) {
  .header{
  margin: 0 48px 0 48px;
  }
}

@media screen and (max-width: 850px) {
  .header{
  margin: 0 34px 0 34px;
  }
}

@media screen and (max-width: 764px) {
  .header{
  margin: 0 24px 0 24px;
  }
}

@media screen and (max-width: 630px) {
  .header {
  margin: 0 22px 0 22px;
  }
}

@media screen and (max-width: 530px) {
  .header {
  margin: 0 20px 0 20px;
  }
}

@media screen and (max-width: 430px) {
  .header {
  margin: 0 18px 0 18px;
  }
}

@media screen and (max-width: 320px) {
  .header {
  margin: 0 16px 0 16px;
  }
}