.header {
  max-width: 1184px;
  max-height: 52px;
  display: grid;
  grid-template-columns: auto repeat(2, min-content);
  grid-template-rows: 1;
  align-items: flex-end;
  margin: auto;
<<<<<<< HEAD
  border: 1px solid red;
=======
  max-width: 1184px;
  max-height: 52px;
  /*border: 1px solid red;*/
>>>>>>> main
}