.footer__copyright {
  max-width: 186px;
  min-width: max-content;
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  color: #FFFFFF;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 767px) {
.footer__copyright {
  text-align: left;
  line-height: 14px;
  margin-top: 48px;
  }
}