.intro {
  max-width: 984px;
  margin: auto;
  margin-top: 92px;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 1024px) {
  .intro {
  max-width: 928px;
  }
}

@media screen and (max-width: 940px) {
  .intro {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
  max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
  max-width: 288px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 64px;
  }
}