.root {
  background-color: #2A2C2F;
  color: #FFFFFF;
  padding-top: 28px;
  padding-bottom: 24px;
  text-rendering: optimizeLegibility;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 768px) {
  .root {
  padding-top: 22px;
  }
}

@media screen and (max-width: 320px) {
  .root {
  padding-top: 16px;
  }
}