.website__url-heading {
  max-width: 100%;
  max-height: 12px;
  padding: 0;
  margin: 0;
  line-height: 12px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-decoration: none;
  color: #FFFFFF;
  /*border: 1px solid red;*/
}