.cover {
  display: grid;
  justify-items: center;
  max-width: 1184px;
  margin: auto;
  gap: 32px ;
  margin-top: 92px;
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .cover {
  margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
  margin-top: 66px;
  }
}