.lead__caption {
  max-width: 158px;
  max-height: 14px;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  color:#FFFFFF;
  border: 1px solid red;
}