.cover__title {
  max-width: 540px;
  font-family: "Inter", Arial, sans-serif;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  z-index: 5;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 530px) {
  .cover__title {
    max-width: 230px;
    line-height: 35px;
    font-size: 32px;
  }
}