.cover__title {
  grid-row: 1/1;
  grid-column: 1/1;
  z-index: 3;
  max-width: 500px;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  align-self: flex-end;
  margin: 0;
  color:#FFFFFF;
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .cover__title {
  max-width: 250px;
  line-height: 40px;
  font-size: 38px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
  max-width: 220px;
  line-height: 35px;
  font-size: 32px;
  }
}