.website__link {
  max-width: 456px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  font-family: "Inter", Arial, sans-serif;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: 1s;
  /*border: 1px solid red;*/
}

.website__link:hover {
  opacity: 20%;
}