.place {
  max-width: 984px;
  display: grid;
  grid-template-areas:
  "title website"
  "image paragraph"
  "image paragraph"
  "image paragraph";
  margin: auto;

  gap: 16px;
  border: 1px solid red;
}