.footer {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(5, min-content) auto;
  grid-auto-flow: row;
  margin: auto;
  margin-top: 92px;
  padding: 0 16px 0 16px;
  gap: 32px 18px ;
  border: 1px solid red;
}