.footer {
  max-width: 1184px;
  max-height: 18px;
  display: grid;
  grid-template-columns: repeat(5, min-content) auto;
  grid-template-rows: 1;
  margin: auto;
  margin-top: 92px;
  /*border: 1px solid red;*/
}